[submodule "python_yeelight"]
	path = python_yeelight
	url = git@github.com:Silvest89/python-yeelight.git
[submodule "python_miio"]
	path = python_miio
	url = git@github.com:Silvest89/python-miio.git
